html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    border: 2px solid #333f47;

  }
  
  .image-gallery {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .preview {
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  .selected {
    transition: 0.2s;
    transform: scale(1.1);
    z-index: 1;
  }
  
  .not-selected {
    margin-right: 2px;
    cursor: pointer;
    position: relative;
  }
  
  .not-selected:last-child {
    margin-right: 0;
  }
  
  .not-selected::after {
    content: "";
    display: inline-block;
    width: 110px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(40, 50, 77, 0.5);
    transition: 0.2s;
  }
  
  .not-selected:hover::after {
    display: none;
  }