@font-face {
    font-family: 'DS-Digital';
    src: url(./fonts/DS-Digital.ttf);
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Prompt';
    src: url(./fonts/Prompt-Light.ttf);
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .stopwatch {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    background-color: transparent;
  }
  
  .time {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 145px;
    width: 400px;
    height: 150px;
    color: rgb(246, 246, 248);
    font-family: 'DS-Digital';
    background-color: rgb(1, 33, 63);
    font-size: 135px;
  }
  
  .btn {
    border: 2px solid rgb(121, 58, 0);
    /* border-radius: 15px; */
    background-color: rgb(255, 53, 2);
    color: rgb(248, 248, 250);
    width: 85px;
    height: 35px;
    margin-right: 27px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto';
  }
  
  .btn:nth-child(n + 4) {
    margin-right: 0;
  }
  .btn:focus {
    outline: none;
  }
  
  .laps {
    border: 2px rgb(0, 69, 133) outset;
    position: absolute;
    top: 0;
    width: 130px;
    height: 210px;
    left: -130px;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .lap {
    list-style: none;
    padding: 0 15px;
    font-family: 'Prompt';
    color: rgb(0, 37, 71);
    font-size: 20px;
  }